<!-- 
This snippet uses the HeaderController.
GOTO: /public/js/controllers/header.js
 -->



    <div
        class="navbar navbar-inverse navbar-fixed-top"
        role="navigation"
        data-ng-controller="HeaderController">


      <div class="container">
        <div class="navbar-header">
          
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">The Runs</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li data-ng-repeat="item in menu" data-ng-show="global.user || true" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">

                <!-- 
                The href and text come from the menu items in the controller.
                GOTO: /public/js/controllers/header.js
                 -->
                <a href="#!/{{item.link}}">{{item.title}}</a>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>





